@font-face {
    font-family: EFCOBrookshire;
    src: url('font/EFCO\ Brookshire\ Regular.woff') format('woff'),
         url('font/EFCO\ Brookshire\ Regular.woff2') format('woff2');
}

@font-face {
    font-family: AlbertusNova;
    src: url('font/AlbertusNovaLight.woff') format('woff'),
         url('font/AlbertusNovaLight.woff2') format('woff2');
}

* {
    z-index: 5;
}

p {
    font-family: AlbertusNova;
    font-size: 20px;
    color: white;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);
}

.screen-size {
    width: 100%;
    margin: 0px;
}

.screen-height {
    height: 120vh;
}

.gradient-background {
    background-image: linear-gradient(180deg, #4A2A84, #AB5F68, #DCC58C);
}

.gradient-background-reversed {
    position: relative;
    background-image: linear-gradient(0deg, #ab5f68d8, #DCC58C, #DCC58C);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* adjust as needed */
    opacity: 0.5; /* adjust as needed */
    z-index: 0;
}

.default-background {
    background-color: #DCC58C;
    background-image: url('assets/cloud.png');
    background-repeat: repeat-y;
}

.overflow-hidden {
    position: relative;
    overflow: hidden;
}

.title {
    font-family: EFCOBrookshire;
    font-size: 80px;
    color: #FFFFCF;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);
}

.title-dark {
    font-family: EFCOBrookshire;
    font-size: 80px;
    color: #6B3338;
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
}

.subtitle {
    font-family: EFCOBrookshire;
    color: white;
    font-size: 1.7vw;
}

.justify {
    text-align: justify;
}


.rounded-box {
    background: linear-gradient(180deg, rgba(74, 42, 132, 0.5), rgba(171, 95, 104, 0.5), rgba(171, 95, 104, 0.5));
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

.row-padding {
    height: 40px;
}

.button {
    font-family: EFCOBrookshire;
    font-size: 20px;
    color: white;
    width: 100%;
    padding: 3px;
    background-color: #6B3338;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.3);
    border-radius: 25px;
}

.scrolldown {
    position: fixed;
    bottom: 0px;
    right: 40px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #ab5f68;
    padding: 10px 10px 0px 10px;
    box-shadow: 8px 8px 0px #6B3338;
    z-index: 1000;
}

.circle {
    border: 3px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-bottom: 5px;
    box-shadow: 1px 1px 2px #6B3338;
}

.circle img {
    color: white;
    position: relative;
    top: 55%;
    left: 40%;
    width: 80%;
    transform: translate(-50%, -50%);
}

span #anchor-lomba{
    font-weight: bold;
    line-height: 50%;
    text-shadow: 0px 0px 5px #6B3338;
}

a:hover {
    color: white;
}

.line-horizontal {
    height: 20px;
    width: 2px;
    background-color: white;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.fade-element {
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
}

.fade-in-visible {
    opacity: 1;
}

.fade-out-visible {
    opacity: 0;
}

.fade-up {
    animation: fadeUp 1s ease-out;
}

.fade-up-delayed-1 {
    animation: fadeUp 1s ease-out;
}

.fade-up-delayed-2 {
    animation: fadeUp 2s ease-out;
}

.fade-up-delayed-3 {
    animation: fadeUp 3s ease-out;
}

.fade-up-delayed-4 {
    animation: fadeUp 5s ease-out;
}

.element {
    top: 50vh;
}

.element2 {
    top: 45vh;
}

.side-menu {
    background-color: white;
    width: 5vw;
    float: left;
}

.ribbon {
    font-size: 2.4rem;
    font-weight: 200;
    font-family: EFCOBrookshire;
    color: #fff;
    display: inline-block;
    min-width: 35vw;

    --s: 1.5em; /* the ribbon size */
    --d: .6em;  /* the depth */
    --c: 1em;  /* the cutout part */

    padding: 0 calc(var(--s) + 1.7em) var(--d);
    line-height: 1.8;
    background:
        conic-gradient(at left  var(--s) bottom var(--d),
        #0000 25%,#0008 0 37.5%,#0004 0) 0   /50% 100% no-repeat,
        conic-gradient(at right var(--s) bottom var(--d),
        #0004 62.5%,#0008 0 75%,#0000 0) 100%/50% 100% no-repeat;
    clip-path: polygon(0 var(--d), var(--s) var(--d),var(--s) 0,calc(100% - var(--s)) 0,calc(100% - var(--s)) var(--d),100% var(--d),calc(100% - var(--c)) calc(50% + var(--d)/2),100% 100%,calc(100% - var(--s) - var(--d)) 100%,calc(100% - var(--s) - var(--d)) calc(100% - var(--d)),calc(var(--s) + var(--d)) calc(100% - var(--d)),calc(var(--s) + var(--d)) 100%,0 100%,var(--c) calc(50% + var(--d)/2));
    background-color: #6B3338;
    width: fit-content;
}

@media only screen and (max-width: 990px) {
    .subtitle {
        font-size: 28px !important;
        padding: 0px;
    }

    .button {
        font-size: 36;
        line-height: 80px;
        border-radius: 100px;
    }

    p {
        font-size: 32px;
    }

    .scrolldown {
        position: fixed;
        bottom: 0px;
        right: 20px;
        text-align: center;
        text-decoration: none;
        color: white;
        z-index: 1000;
    }

    .line-horizontal {
        margin-top: 10px;
        height: 40px;
        width: 8px;
    }
    
    .circle {
        border: 8px solid white;
        width: 120px;
        height: 120px;
    }
    
    #anchor-lomba{
        font-size: 2rem;
        text-shadow: 0px 0px 2px #6B3338;
    }

    .screen-height {
        height: 90vh;
        padding-top: 25vh;
    }

    .element {
        top: 70vh;
    }
    
    .element2 {
        top: 65vh;
    }

    .ribbon {
        font-size: 1.6rem;
    }
 }

 @keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}